#mobile-menu {
  display: none;
}
.page-header {
  color: #2a2a2a;
  position: sticky;
  top: 0;
  background-color: white;
}
.page-header > .top {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  height: 3.177vw;
  padding: 1.15vw 7.29vw 1.15vw 7.13vw;
}
.page-header > .top .logo,
.page-header > .top .phone,
.page-header > .top > .mobile > div {
  display: flex;
  align-items: center;
  margin-right: 2.97vw;
}
.page-header > .top > .mobile {
  display: flex;
  align-items: center;
  height: 3.177vw;
}
.page-header > .top > div p {
  margin-left: 1.2vw;
  font-size: 0.57vw;
}
.page-header > .top > .mobile > nav {
  display: none;
}
.page-header > .top > .burger {
  display: none;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.page-header > .top > .burger > svg {
  width: 1rem;
}
.page-header > .top > .logo img {
  width: 11.09vw;
}
.page-header > .top > .logo > p {
  width: 7.29vw;
}
.page-header > .top .address > img {
  width: 1.82vw;
  margin-right: 0.52vw;
}
.page-header > .top .address > p {
  width: 8.18vw;
}
.page-header > .top .map {
  position: relative;
}
.page-header > .top .map > img {
  width: 0.625vw;
  margin-right: 0.52vw;
}
.page-header > .top .map > p {
  font-weight: 700;
}
.page-header > .top .map:hover > p .bottom-dots::after {
  width: 60%;
}
.page-header > .top .map > .yamapContainer {
  position: absolute;
  top: 100%;
  width: 30vw;
  max-height: 0vw;
  height: 30vw;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  transition: 0.3s;
}
.page-header > .top .map:hover > .yamapContainer {
  max-height: 30vw;
}
.page-header > .top .map > .yamapContainer > .yamap {
  width: 30vw;
  height: 30vw;
}
.page-header > .top .map:hover > p.bottom-dots::after {
  width: 60%;
}
.page-header > .top .calculate:hover > p .bottom-dots::after {
  width: 60%;
}
.page-header > .top .calculate > img {
  width: 1.823vw;
}

.page-header > .top .contacts > p {
  margin-right: 0.937vw;
  margin-left: 0;
}
.page-header > .top .contacts > a > img {
  width: 1.823vw;
  display: block;
}
.page-header > .top .contacts > a + a {
  margin-left: 0.312vw;
}
.page-header > .top > .phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0;
}
.page-header > .top > .phone > p {
  margin: 0;
}
.page-header > .top > .phone > .time {
  font-size: 0.625vw;
  margin-left: 0;
  line-height: 0.52vw;
  margin-bottom: 0.3125vw;
}
.page-header > .top > .phone > .time > .bullet {
  font-size: 1vw;
  color: #20c863;
}
.page-header > .top > .phone > .number {
  display: block;
  font-weight: 700;
  color: #2a2a2a;
  text-decoration: none;
  font-size: 1.041vw;
  line-height: 1.04vw;
  margin-bottom: 0.3125vw;
}
.page-header > .top > .phone > .callback > img {
  display: inline;
  width: 0.3125vw;
}

.page-header > nav {
  display: flex;
  align-items: center;
  padding: 1.15vw 0 1.15vw;
  margin: 0 7.29vw 0 7.13vw;
  border-top: solid 0.052vw #2a2a2a26;
  justify-content: space-between;
  font-weight: 600;
}
.page-header > nav > a {
  line-height: 1.042vw;
  font-size: 0.625vw;
  text-decoration: none;
  text-transform: uppercase;
  color: #2a2a2a;
  transition: 0.3s;
}
.page-header > nav > a:hover {
  color: #fd2016;
}

#big-map-container,
#callback-container {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.4);
  top: 0;
}
#big-map-container.opened,
#callback-container.opened {
  display: block;
  z-index: 1;
}

#big-map-container > .yamap {
  position: absolute;
  top: 10vh;
  left: 10vw;
  width: 80vw;
  height: 80vh;
}

#callback-container > .callback-popup {
  position: absolute;
  width: 26.041vw;
  height: 31.25vw;
  background-color: #1c1c21;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  text-align: center;
  position: relative;
}
#callback-container > .callback-popup > .close {
  position: absolute;
  background-color: transparent;
  top: 1.8vw;
  right: 1.8vw;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  width: 1.042vw;
  height: 1.042vw;
}
#callback-container > .callback-popup > .close > img {
  display: block;
  width: 1.042vw;
  height: 1.042vw;
}
#callback-container > .callback-popup > h2 {
  font-size: 1.666vw;
  line-height: 2.292vw;
  margin: 0;
  margin-top: 2.344vw;
}
#callback-container > .callback-popup > p {
  font-size: 0.9375vw;
  line-height: 1.458vw;
  margin: 0;
  margin-top: 0.8333vw;
}
#callback-container > .callback-popup > form {
  display: flex;
  flex-direction: column;
  font-size: 0.729vw;
  margin-top: 1.77vw;
}
#callback-container > .callback-popup > form > #callback-phone-input {
  width: 18.9vw;
  padding: 1.458vw 2.448vw;
  border-radius: 3.8vw;
  font-size: 0.93vw;
  margin: 0 auto;
  margin-top: 0.625vw;
  border: none;
}
#callback-container > .callback-popup > form > #callback-phone-input:focus {
  outline: 0.1vw solid #fd2016;
}
#callback-container
  > .callback-popup
  > form
  > #callback-phone-input::placeholder {
  color: #b0b0b1;
}
#callback-container > .callback-popup > form > #callback-privacy-policy {
  display: none;
}
#callback-container > .callback-popup > form > .privacy-policy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 18.9vw;
}
#callback-container > .callback-popup > form > .privacy-policy > p {
  text-align: start;
  margin-left: 0.729vw;
}
#callback-container > .callback-popup > form > .privacy-policy > p > a {
  color: #fd2016;
  text-decoration: none;
}
#callback-container .custom-checkbox > #custom-checkbox-button {
  cursor: pointer;
  display: block;
  width: 1.042vw;
  height: 1.042vw;
  background-color: #fd2016;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25%;
  user-select: none;
}
#callback-container .custom-checkbox > #custom-checkbox-button:hover {
  background-color: #fd22169e;
}
#callback-container .custom-checkbox > #custom-checkbox-button > .mark {
  transition: 0.3s;
  opacity: 0;
  width: 0.4166vw;
}
#callback-container .custom-checkbox > #custom-checkbox-button.active .mark {
  opacity: 1;
}
#callback-container .submit-button {
  width: 18.9vw;
  padding: 1.458vw 2.448vw;
  border-radius: 3.8vw;
  font-size: 0.93vw;
  margin: 0 auto;
  margin-top: 0.625vw;
  border: none;
  background-color: #fd2016;
  color: white;
  cursor: pointer;
}
#callback-container .submit-button:hover {
  background-color: #fd22169e;
}
#callback-container .submit-button:disabled {
  background-color: black;
  cursor: not-allowed;
}
#callback-container .submit-button.submitted {
  background-color: green;
}

@media (max-width: 700px) {
  .page-header > .top > div p {
    font-size: 0.375rem;
    line-height: 0.625rem;
  }
  .page-header > .top {
    justify-content: space-between;
    height: unset;
    padding: 0.75rem;
  }
  .page-header > .top > .burger {
    display: block;
    z-index: 1;
  }
  .page-header > .top > .mobile {
    display: none;
  }
  #mobile-menu {
    display: block;
    background-color: white;
    overflow-y: scroll;
    position: fixed;
    width: 100vw;
    top: 5.625rem;
    height: calc(100vh - 5.625rem);
    right: -100vw;
    transition: 0.3s;
    flex-direction: column;
    padding: 1.375rem;
  }
  #mobile-menu.opened {
    right: 0vw;
  }
  #mobile-menu > nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
    width: 16.25rem;
  }
  #mobile-menu > nav > a {
    text-decoration: none;
    transition: 0.3s;
    line-height: 1rem;
    text-transform: uppercase;
  }
  #mobile-menu > nav > a + a {
    margin-top: 2rem;
  }
  #mobile-menu > nav > a:hover {
    color: #fd2016;
  }
  #mobile-menu > .block {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    margin-top: 3rem;
  }
  #mobile-menu > .block img {
    width: 4rem;
    margin-right: 1rem;
  }
  #mobile-menu > .block .bottom-dots {
    font-weight: 700;
  }
  #mobile-menu > .block a {
    text-decoration: none;
  }
  #mobile-menu > .contacts {
    display: flex;
    align-items: center;
    margin-left: 5rem;
  }
  

  .page-header > .top > .logo {
    z-index: 1;
  }
  .page-header > .top > .logo p {
    display: none;
  }
  .page-header > .top > .logo img {
    width: 5.7rem;
  }
  .page-header > .top > .phone {
    z-index: 1;
  }
  .page-header > .top > .phone > p {
    margin: 0;
  }
  .page-header > .top > .phone > .time {
    font-size: 0.375rem;
    line-height: 0.625rem;
    margin-bottom: 0.3125vw;
  }
  .page-header > .top > .phone > .time > .bullet {
    font-size: 0.375rem;
    color: #20c863;
  }
  .page-header > .top > .phone > .number {
    font-size: 0.75rem;
    line-height: 0.75rem;
    margin-bottom: 0.375rem;
  }
  .page-header > .top > .phone > .callback > img {
    display: inline;
    width: 0.3rem;
  }

  #callback-container > .callback-popup {
    width: 100vw;
    height: unset;
  }
  #callback-container > .callback-popup > .close {
    top: 2rem;
    right: 2rem;
    width: 1.25rem;
    height: 1.25rem;
  }
  #callback-container > .callback-popup > .close > img {
    width: 1.25rem;
    height: 1.25rem;
  }
  #callback-container > .callback-popup > h2 {
    font-size: 1.5rem;
    line-height: unset;
    margin-top: 2rem;
  }
  #callback-container > .callback-popup > p {
    font-size: 1rem;
    line-height: unset;
  }
  #callback-container > .callback-popup > form {
    font-size: 1rem;
    line-height: unset;
    margin-top: 1.77rem;
  }
  #callback-container > .callback-popup > form > .privacy-policy {
    width: 90%;
    margin: 0 auto;
  }
  #callback-container > .callback-popup > form > .privacy-policy > p {
    text-align: start;
    margin-left: 0.7rem;
    font-size: 0.7rem;
    text-align: right;
  }
  #callback-container > .callback-popup > form > .privacy-policy > p > br {
    display: none;
  }
  #callback-container .custom-checkbox > #custom-checkbox-button {
    width: 1.25rem;
    height: 1.25rem;
  }
  #callback-container .custom-checkbox > #custom-checkbox-button > .mark {
    width: 0.5rem;
  }
  #callback-container > .callback-popup > form > #callback-phone-input,
  #callback-container .submit-button {
    width: 18rem;
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  .page-header > nav {
    display: none;
  }
}
