@import "./header.css";

* {
  transition: 0;
  box-sizing: border-box;
  font-family: "Manrope";
}
body {
  width: 100%;
  min-height: 300vh;
  margin: 0;
}
body.noscroll {
  overflow: hidden;
}
a {
  color: #2a2a2a;
}
.hidden {
  display: none;
}

.bottom-dots {
  white-space: nowrap;
  position: relative;
  cursor: pointer;
}
.bottom-dots::after {
  content: "";
  width: 100%;
  height: 0;
  border-bottom: 0.1041666667vw dotted #fd2016;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  left: 0;
  bottom: 0;
}
.bottom-dots:hover::after {
  width: 60%;
}

/* section {
    display: flex;
  }
  section > aside {
    width: 7.3vw;
  }
  section > main {
    width: 92.7vw;
  } */

/* @keyframes blick {
  0%,
  to {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}
standart-btn::after,
.standart-dark-btn::after {
  content: "";
  width: 5.9895833333vw;
  height: 7.2916666667vw;
  position: absolute;
  top: 50%;
  left: 0;
  background-image: url(../img/general/btn-blick.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-animation: btn_blick 5s linear infinite;
  animation: btn_blick 5s linear infinite;
  -webkit-transition: 0.5s;
  transition: 0.5s;
} */
